.custom-wrapper {
  padding: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

header,
.sidebar,
.main-container {
  transition: 0.3s;
}

.text-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap !important;
}

.error-row {
  background-color: #ffebe6 !important; /* Light red */
  color: #d32f2f !important; /* Darker red text */
}
