.app-container {
  height: 100vh;
  display: flex;
  .sidebar {
    width: 250px;
    height: 100%;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
    // background: lightblue;
  }
  .main-container {
    width: calc(100vw - 250px);
    height: 100%;
    // background: lightgreen;
    overflow-y: auto;

    .content-wrapper {
      padding: 20px;
      margin-top: 70px;
      height: calc(100vh - 70px);
      overflow-y: auto;
    }
  }
  .main-container-min {
    width: calc(100vw - 250px);
  }
  .main-container-max {
    width: 100vw;
  }
}
